.password-edit {
    display: flex;
    align-items: center;
    flex-direction: column;

    .password-update-error,
    .password-update-message {
        font-size: 13px;
    }

    .password-update-error {
        color: var(--red);
    }

    .password-update-message {
        color: green;
    }
}
