<div class="avatar">
    {{#if store.state.user.avatar }}
    <img src="{{{store.state.user.avatar}}}" alt="avatar" />
    {{else}}
    <span class="avatar__icon"></span>
    {{/if}}
    <div class="avatar__shadow" onClick=onAvatarChangeClick>
        <span>Поменять аватар</span>
    </div>
</div>
