<div class="avatar">
    {{#if store.state.user.avatar }}
    <img src="https://ya-praktikum.tech/api/v2/resources/{{{store.state.user.avatar}}}" alt="avatar" />
    {{else}}
    <span class="avatar__icon"></span>
    {{/if}}
    <form class="avatar__form" id="avatarForm">
        {{{ Input type="file" id="avatarInput" name="avatarInput" onChange=onAvatarChange }}}
        <span>Поменять аватар</span>
    </form>
</div>
