<div class="page profile-page">
    {{{ NavButton }}}
    <div class="profile-page__user-information-area">
        <div class="profile-page__profile-card-wrapper">
            {{{ ProfileEditForm }}}
        </div> 
    </div>
</div>
