<div class="chats__list">
    {{#each store.state.chats}}
        {{{ ChatPreview id=this.id title=this.title lastMessage="Изображение" image=this.avatar time="10:49" }}}
    {{/each}}
    <div id="scroll-target"></div>
</div>
