{{!-- [ToDo] temporary page - remove later --}}
<div class="page modals" style="display: flex; justify-content: space-around; align-items: center; height: 100vh;">
    {{{ Modal state="active" heading="Загрузите файл" buttonText="Выбрать файл на компьютере" }}}
    {{{ Modal state="active" heading="Файл загружен" message="pic.jpg" }}}
    {{{ Modal state="active" heading="Ошибка, попробуйте ещё раз" cssModificator="modal_type_error" buttonText="Выбрать файл на компьютере" }}}
</div>
